#anima{
	display: none;
	/*animation: animations8 ease-out 1.3s ; */
	/*animation:animations 4s ease-in-out forwards;*/
	/*animation: animations6 3s forwards;*/
}

.content_box{
    width: 100vw;
    top: 5vmin;
}

.content_text{
	width: 90%;
	height: 75vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	background: #fff;
}

.end_time,.notice{
	margin-top: 20px;
	text-align: center;
	font-size: 8vmin;
	font-weight: 600;
	color: #898989;
	letter-spacing: 2.5px;
}

.date_box{
	width: 85%;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	background: #ddd;
}

.date_box .date,.time{
	font-size: 	6vmin;
	font-weight: 500;
	margin: 0 5px;
}

.date_input{

}

.notice_content{
	width: 85%;
	height: 35vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 10px;
	background: #ddd;	
	overflow: auto;
}

.text{
	font-size: 5vmin;
	margin: 12px 0 0 12px;
	letter-spacing: 1.3px;
}

.msg{
    width: 70vmin;
    height: 55vmin;
    background: #ddd;
    border: 0;
}

.confirm{
	width: 100%;	
	margin: 2vmin;
	display: flex;
	justify-content: center;
}

.confirm:after{
	content: '';
	position: absolute;
	top: 25%;
	left: 50%;
	height: 2.5em;
	border: 0.7px solid #AAA;
}

.confirm .text{
	width: 43%;	
	height: 10vh;
	line-height: 20vmin;
	font-size: 8vmin;
	font-weight: 600;
	color: #898989;
	margin: 0;
	text-align: center;
	border: 0;
	background-color: transparent;
}

.confirm .text1{
	color: #91A55A;
}

#form{
    display: none;
    position: absolute;
    top: 33vmin;
    left: 10vmin;
    width: 80%;
    height: 110px;
    margin: auto;
    background-color: #eee;
}

.box{
    position: absolute;
    top: 6vmin;
    left: 7vmin;
    right: 0;
    width: 85%;
    padding: 10px;
}

.box p{
    position: absolute;
    top: -3.5vmin;
    left: 27%;
    font-size: 5vmin;
    letter-spacing: 1.5px;  
}   

#hour{
    width: 15vmin;
    height: 25px;
    text-align: center;
    background: #fff;
    border: 0;
}

#min{
    width: 15vmin;
    height: 25px;
    text-align: center;
    background: #fff;
    border: 0;
}

#sec{
    width: 15vmin;
    height: 25px;
    text-align: center;
    background: #fff;
    border: 0;
}

#ajax_btn{
    width: 15vmin;
    padding: 5px;
    margin-top: 2vmin;
    margin-left: 10vmin;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#can_btn{
    width: 15vmin;
    padding: 5px;
    margin-top: 2vmin;
    margin-left: 10vmin;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
}


/*消失用*/
@keyframes animations5{
    0%{transform:scale(1);opacity:1;}
    60%{transform:scale(0);opacity:0;}
    100%{transform:scale(1);opacity:0;}
}

/*同fade in*/
@keyframes animations8{
    0%{transform:scale(0);opacity:0;}
    60%{transform:scale(0);opacity:0;}
    100%{transform:scale(1);opacity:1;}
}

/*消失用*/
@keyframes css5{   
    0%{transform:scale(1);opacity:1;}
    20%{transform:scale(0.5);opacity:1;}
    40%{transform:scale(1);opacity:0.8;}
    70%{transform:scale(1.5);opacity:0.7;}
    99%{transform:scale(2);opacity:0.5;}
    100%{transform:scale(3);opacity:0;}
}